{% extends "base.html" %}

{% block title %}Positions{% endblock %}

{% block extra_styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/title_bar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sonic_dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sonic_themes.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sonic_titles.css') }}">
{% endblock %}

{% block content %}
{% set title_text = 'Positions' %}
{% include "title_bar.html" %}
<div class="sonic-section-container sonic-section-middle mt-3">
  <div class="sonic-content-panel">
    {% include "positions_table.html" %}
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/sonic_theme_toggle.js') }}"></script>
<script src="{{ url_for('static', filename='js/layout_mode.js') }}"></script>
{% endblock %}
